element.style {
}
.text_88f46575-e1d3-4ceb-8b73-73f35276a650 [data-wysiwyg="true"] {
    display: table-cell;
    vertical-align: middle;
}
[data-wysiwyg="true"] {
    outline: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, h1, h2, h3, h4, h5, h6, xmp {
    margin: 0;
    padding: 0;
    border: 0;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
[data-type="text"] {
    word-break: break-word;
}

.text_88f46575-e1d3-4ceb-8b73-73f35276a650 {
    color: #edf0f5;
}

.text_88f46575-e1d3-4ceb-8b73-73f35276a650 {
    top: 401px;
    left: 740.5px;
    width: 548px;
    height: 60px;
    display: table;
    opacity: 1;
    font-size: 40px;
    position: absolute;
    vibility: inherit;
    box-shadow: none;
    text-align: center;
    font-family: Reem Kufi;
    font-weight: 700;
    line-height: normal;
    text-shadow: none;
    visibility: inherit;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    text-decoration: none;
}
body {
    overflow: visible !important;
    -webkit-font-smoothing: antialiased;
}
body {
    font: 400 14px/16px "Roboto", "Arial", sans-serif;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}